:root{
   --text-color: rgb(87, 75, 75);
}

body{
   color: var(--text-color);
}

.banner{
   width: 100%;
   height: 50vh;
   overflow: hidden;
   clip-path: polygon(100% 0, 100% 84%, 56% 100%, 0 83%, 0 0);
   background-color: rgb(32, 126, 32);

}

.banner img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: 0% 100%;
}

.about{
   width: 95%;
   margin: -20vh auto 80px;
   padding: 30px 20px;
   position: relative;
   z-index: 2;
   background-color: rgb(253, 253, 253);
   border-radius: 5px;
   color: var(--text-color);
   box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
   text-align: center;
}

.about h1{
   margin: 10px 0 20px;
   text-align: center;
}

.about p{
   line-height: 1.8rem;
}

.about span{
   display: none;
}

/* Mission Section */

.mission{
   padding: 50px 20px 40px;
   background-color: rgb(253, 253, 253);
   text-align: center;
}

.mission h2{
   margin-bottom: 60px;
}

.mission img{
   width: 100%;
   height: 400px;
   object-fit: cover;
   border-radius: 10px;
  
}


.mission p{
   padding: 20px;
   font-size: 14px;
   line-height: 28px;
}


.btn-container{
   display: flex;
   flex-direction: column;
   gap: 10px;
   align-items: center;
   margin-top: 15px;
}

.mission button{
   display: block;
   width: 150px;
   padding: 10px 0;
   font-weight: 500;
   font-size: 14px;
   cursor: pointer;
}


/* End of Mission Section */

/* Story Section */

.story{
   background-color: white;
   padding: 40px 0px;
   width: 90%;
   margin: 150px auto 0;
}

.story .title{
   text-align: center;
   width: fit-content;
   margin: 0 auto 50px;
}

.title p{
   margin-top: 10px;
}
.story h2{
   margin-bottom: 3px;
}

.story p{
   font-size: 12px;
   opacity: 60%;
}


.story-body p{
   font-size: 14px;
   line-height: 26px;
   margin-bottom: 15px;
}

button{
   border: none;
   background-color: transparent;
   display: block;
   width: fit-content;
   padding: 5px 10px;
   margin-top: 15px;
   margin-left: 20px;
   font-size: 14px;
   font-weight: 600;
   cursor: pointer;
   border-radius: 2px;
}

.btn-container{
   display: flex;
   margin-bottom: -120px;
   
}

.readMore{
   color: green;
   border: 1px solid green;
}

.readLess{
   color: red;
   border: 1px solid red;
 
}

/* End of Story Section */


/* Team section */

.team{
   padding: 250px 25px 0px;
   margin-bottom: -50px;
   margin-top: -100px
}

.team h2{
   text-align: center;
   margin-bottom: 20px;
}

.team img{
   max-width: 100%;
   border-radius: 5px;
}


.image-section h3, .image-section p{
   display: none;
}

.ceo h3{
   margin: 15px 0 0px;
}

.ceo .bio{
   margin: 15px 0;
   line-height: 28px;
   /* font-size: 12px; */
}


.team-members{
   padding: 40px 0 0;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   gap: 40px;
   text-align: center;

}

.team-members div{
   width: 40%;
}

.team-members .name{
   font-weight: 600;
   margin: 15px 0 0;
}


.team-members img{
   width: 100px;
   height: 100px;
   border-radius: 50%;
   object-fit: cover;
   object-position: 90% 50%;
}


.team-members .male-3, .team-members .male-2{
   object-position: 20% 50%;
}


/* End of Team section */


/* Media Query */

@media screen and (min-width: 764px) {

   .banner{
      height: 50vh;
   }

   .banner img{
      object-position: 100% 50%;
   }


   .about{
      width: 85%;
      margin: -15vh auto 0;
    
   }

   .about span{
      display: block;
   }

   /* Mission and VIsion Section */

   .mission{
      margin-top: 100px;
   }

   .mission-content{
      width: 90%;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
   }

   .mission-content > div{
      margin-top: -140px;
   } 

   .btn-container{
      margin-top: 25px;
      flex-direction: row;
      justify-content: center;
      gap: 15px;
   }
   

   .story{
     
      margin: 40px auto 0;
   }


   /* Team Section */

   .ceo{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 40px;
      align-items: stretch;
      margin-top: 40px;
   }

   .ceo img{
      object-fit: cover;
   
   }


   .image-section{
      margin-top: 15px;
   }

   .image-section h3, .image-section p{
      display: block;

   }

   .ceo-profile h3, .ceo-profile p.role{
      display: none;
   }


   .team-members{
      justify-content: center;
      margin-top: 30px;
   }
   

   .team-members div{
      width: 20%;
      /* flex-wrap: wrap; */
   }


  
   /* End of Team Section */


}

/* End of Media Query */