/* Section 1 */


.section-1{
   height: 90vh;
   overflow: hidden;
   position: relative;
   background-color: gainsboro;
}

.section-1 img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.section-1 div.text{
   position: absolute;
   top: 0%;
   height: 100%;
   left: 0%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   background-color: rgba(0,0,0,0.6);

}

.section-1 h1{
   color: white;
   width: 80%;
   margin: 0 auto 15px;
}

.section-1 p{
   color: rgb(231, 228, 228);
   line-height: 22px;
   font-size: 14px;
   width: 90%;
   margin: 0 auto;
}

.section-1 svg{
   position: absolute;
   bottom: 5%;
   left: 50%;
   transform: translateX(-50%);
   width: 40px;
   height: 22px;
   animation: pumping 2s linear infinite;
}

@keyframes pumping {

0%{
   bottom: 5%;
}

30%{
   bottom: 6%
}

60%{
   bottom: 6%
}

100%{
   bottom: 5%
}

}

/* End of Section-1 */

/* Section 2 */

.section-2{
   padding: 60px 0 40px;
}

.section-2 h2{
   text-align: center;
}

.section-2  .container{
   width: 90%;
   margin: 50px auto;
   display: flex;
   flex-direction: column;
   gap: 40px;
}

.crop{
   background-color: rgba(247, 245, 245, 0.6);
   border-radius: 5px;
   overflow: hidden;
}

.crop img{
   width: 100%;
   height: 300px;
   object-fit: cover;
 
}

.crop h3{
   margin: 10px 10px 5px;
}

.crop p{
   margin-left: 10px;
   margin-bottom: 20px;
}

.crop a{
   display: block;
   margin: 20px 10px 40px;

}

/* End of Section 2 */

/* Section 3 */

.section-3{
   margin-top: -40px;
}

/* End of Section 3 */


/* Footer  */

footer{
   margin-top: 30px;
}

/* End of Footer  */
@media screen and (min-width: 768px) {
   .section-2  .container{
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      gap: 20px;
   }

   .container > *{
      width: 300px;
   }
}